html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* мои стили */

* {
    margin: 0;
    padding: 0;
}
html, body{
    scroll-behavior: smooth;
    background: gray;
}
.cont_ol{
    margin: 0 auto;
    width: 1200px;
}
.cont_home{
    position: relative;
    z-index: 5;
}
.textpages{
    text-align: justify;
}
.box_top{
    display: block;
    background: black;
    color: white;
    /* height: 118px; */
    height: auto;
}
h2{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}
.indent{
    padding-bottom: 10px;
}
h1{
    padding: 10px 0;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

h3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.list{
    margin: 0 0 0 15px;
    text-align: left;
    list-style-type: circle;
    font-style: italic;
}

.down{
    background:black;
    color: white;
}
.down_home{
    border-top: 1px solid black;
    color: white;
}

.footerlink:hover{
    text-decoration: none;
}

a{
    line-height: 25px;
    color: white;
}

.footerP{
    text-align: center;
}
.moveon:hover{
    color: blue;
}

/* Про електронні сигарети */

#firstimg{
    margin: 10px 0 0 0;
    border-radius: 50px; 
}
#pictures{
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    background: black;
    width: 130px;
    height: 50px;
    text-decoration: none;
    margin: 0 auto 10px;
}
.button:hover{
    background: white;
    color: black;
}

.photo{
    text-align: center;
}

/* dz_6 table-cell*/

.outl{
    outline: 2px solid black;
}
.w_800{
    width: 800px;
    outline: 2px solid black;
}
.w_400{
    width: 400px;
    outline: 2px solid black;
}
.d_t_c{
    display: table-cell;
}
.topcolor{
    background: green;
}
.cont{
    background: purple;
}
.info{
    background: gold;
}
.col{
    background: yellowgreen;
}
.distance{
    margin-top: 10px;
}

/* inline-block */

.d_i_b{
    display: inline-block;
}
.content_i_b{
    font-size: 0;
}
.i_b_fs{
    font-size: 18px;
}

/* float */

.f_r{
    float: right;
}
.f_l{
    float: left;
}
.cle{
    clear: both;
}
.back{
    padding: 30px 0 0 0 ;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

/* display-flex */

.disp_fl_col{
    background: lightcoral;
}
.disp_fl{
    display: flex;
}
.fl_800{
    flex: 0 1 800px;
}
.fl_400{
    flex: 0 1 400px;
}

/* grid-template-columns */

.ds_grid{
    display: grid;
}
.block1{
    grid-template-columns: repeat(3, 400px);
}
/* .ds_grid_b1{
    grid-template-rows: repeat(3, 1fr);
} */
/* .ds_grid_b2{
    grid-template-rows: repeat(2, 1fr);
} */
.block2,.block4{
    grid-template-columns: 800px 400px;
}
.block3{
    grid-template-columns: 400px 800px;
}
.ds_grid_b3,.ds_grid_b5{
    grid-template-columns: repeat(2, 400px);
}
.bckd{
    background: cornflowerblue;
}
/* grid-template-areas */
.g-t-areas{
    width: 1200px;
    margin: 0 auto;
}
.grid_box_top{
    width: 1200px;
    margin: 0 auto;
}
.grid_container{
    display: grid;
    grid-template-areas: 
    "a b c"
    "d d e"
    "f f e"
    "f f g"
    "h h g"
    "i j j"
    "i k l"
    "m m n"
    "o q n"
    "p q n";
}
.grid_a{
    background: red;
    grid-area: a;
}
.grid_b{
    background: pink;
    grid-area: b;
}
.grid_c{
    background: olive;
    grid-area: c;
}
.grid_d{
    background: hotpink;
    grid-area: d;
}
.grid_f{
    background: greenyellow;
    grid-area: f;
}      
.grid_h{
    background: gold;
    grid-area: h;
}
.grid_e{
    background: green;
    grid-area: e;
}
.grid_g{
    background: goldenrod;
    grid-area: g;
}
.grid_i{
    background: lightgreen;
    grid-area: i;
} 
.grid_j{
    background: lightcoral;
    grid-area: j;
}    
.grid_k{
    background: lavender;
    grid-area: k;
}    
.grid_l{
    background: maroon;
    grid-area: l;
}
.grid_m{
    background: mediumaquamarine;
    grid-area: m;
}   
.grid_n{
    background: white;
    grid-area: n;
}   
.grid_o{
    background: blueviolet;
    grid-area: o;
}
.grid_p{
    background: aqua;
    grid-area: p;
}   
.grid_q{
    background: lawngreen;
    grid-area: q;
}                                  

/* ДЗ 10.Навігація по фотогалереї  */
.navigation{
    padding: 10px;
    position: fixed;
    left: 0;
    top: 50%; 
    margin-top: -175px;
    width: 200px;
    box-shadow: 10px 10px 20px black;
}
.link_nav{
    border-bottom: 1px solid black;
}
.link_n{
    text-decoration: none;
    color: black;
}
.link_n:hover{
    color: white;
}

/* ДЗ 10. Фотогалерея. */
.picture {
    position: relative;
    font-size: 0;
}
.picture:hover .text{
    opacity: 1;
} 
.text {
    font-size: 16px;
    opacity: 0;
    position:absolute;
    top: 50%;
    margin-top: -19px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding:10px 0px;
    text-align: center;
}
.bg_gradient_text{
    background-image: linear-gradient(90deg,aqua, yellow, magenta, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
}
.anchor{
    text-decoration: none;
    color: black;
    text-align: center;
}
.anchor:hover{
    outline: 1px solid white;
    color: white;
}

/* ДЗ 11. Багаторівневе меню */
.menu_top{
    font-size: 0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.menu_top li{
    display: inline-block;
    font-size: 20px;
    border-left: 1px solid white;
    background: black;
}
.menu_top a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px 8px 35px;
    position: relative;
}
.menu_top a:hover,.parent:hover{
    background: grey;
    transition: all 700ms linear;
}
.menu_top li:first-child{
    border: none;
}
.parent{
    position: relative;
    z-index: 5;
}
.parent:hover ul.second_menu{
    top: 100%;
    pointer-events: all;
}
.second_menu{
    position: absolute;
    left: 0;
    top: -1000px;
    transition: all cubic-bezier(0.24, 0.71, 0.88, 1.15) 700ms;
    pointer-events: none;
}
.second_menu a{
    display: block;
    padding: 10px;
} 
.second_menu li{
    border: none;
    border-top: 1px solid white;
    display: block;
}
.menu_float{
    position: absolute;
    left: 100%;
    top: -1000px;
    width: 0;
    overflow: hidden;
    transition: top 1s linear, width 2s steps(8, end);
}
.parent_float:hover .menu_float{
    width: 100%;
    top: 0;
}
.menu_grid{
    position: absolute;
    right: 100%;
    bottom: 0;
    opacity: 0;
    transition: all 2s linear;
}
.parent_grid:hover .menu_grid{
    opacity: 1;
}
.active a{
    background: gray;
}

/* ДЗ 12. Робота зі спрайтами. Позіоцінування елементу з фіксованими */
.menu_top a::before{
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 4px;
    left: 6px;
}
.home_link::before{
    background: url(../img/dz_sprites.png) no-repeat -90px -10px;  
}
.about_link::before{
    background: url(../img/dz_sprites.png) no-repeat -135px -10px;
}
.gallery_link::before{
    background: url(../img/dz_sprites.png) no-repeat -180px -7px;
}
a.blocks_link::before{
    left: auto;
    right: 0;
    background: url(../img/dz_sprites.png) no-repeat -10px -5px;
    transition: all 500ms ease;
}
a.blocks_link{
    padding: 10px 35px 8px 15px;
}
li.parent:hover a.blocks_link::before{
    background: url(../img/dz_sprites.png) no-repeat -50px -5px;
}
a.float_link::before{
    left: auto;
    right: 5px;
    background: url(../img/dz_sprites.png) no-repeat -270px -5px;
    transition: all 400ms linear;
}
li.parent_float:hover a.float_link::before{
    background: url(../img/dz_sprites.png) no-repeat -225px -5px;

}
.grid_link::before{ 
    background: url(../img/dz_sprites.png) no-repeat -225px -5px;
    transition: all 400ms ease;
}
li.parent_grid:hover a.grid_link::before{
    background: url(../img/dz_sprites.png) no-repeat -270px -5px;
}
.facebook{
    background: url(../img/dz_sprites.png) no-repeat -315px -10px;
}   
.telegtam{
    background: url(../img/dz_sprites.png) no-repeat -375px -10px;
}
.instagram{
    background: url(../img/dz_sprites.png) no-repeat -435px -10px;
}
.my_contacts{
    position: relative;
}
.link_my_contacts{
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 0;
    list-style: none;
}
.link_my_contacts li{
    display: inline-block;
    margin-left: 5px;
}
.my_contacts a{
    display: block;
    width: 40px;
    height: 40px;
}    
.link_my_contacts li:first-child{
    margin: 0;
} 
.my_contacts a:hover{
    opacity: 0.8;
    outline: 2px solid white;
    border-radius: 9px;
}

/* D/Z 17. Transform. Filter */
.animation_menu_left{
    right: -12%;
    top: 50%;
    margin-top: -181px;
    position: fixed;
    font-size: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 1s linear;
    transform: rotateX(28deg) rotateY(-18deg) rotateZ(-90deg);
    z-index: 10;
}
.animation_menu_left:hover{
    right: 1%;
    transform: rotate(0) rotateZ(-90deg);
}
.animation_menu_left h2{
    margin: 0;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    animation: anim_hover_me 3s ease-in-out infinite alternate 300ms;
}
.menu_fixed a{
    border: 2px solid white;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
}
.menu_fixed a:hover{
    background: white;
    animation-play-state: paused;
}
.link_youtube{
    transform: translateX(150px) translateY(86px) rotate(45deg);
    animation: anim_youtube 1s ease-in infinite alternate 1500ms;
}
.link_twitter{
    transform: translateX(104px) translateY(-23px) rotate(45deg);
    animation: anim_twitter 1s ease-in infinite alternate 7s;
}
.link_hillel{
    transform: translateX(104px) translateY(6px) rotate(45deg);
    animation: anim_hillel 1s ease-in infinite alternate 3500ms;
}
.link_zoom{
    transform: translateX(58px) translateY(-103px) rotate(45deg);
    animation: anim_zoom 1s ease-in infinite alternate 1s;
}
.link_hillel:before, .link_twitter::before, .link_zoom::before, .link_youtube::before{
    content: "";
    background: url(../img/css_sprites.png) -10px -10px;
    display: block;
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
}
.link_twitter::before{
    background: url(../img/css_sprites.png) -90px -10px;
}
.link_zoom::before{
    background: url(../img/css_sprites.png) -90px -90px;
}
.link_youtube::before{
    background: url(../img/css_sprites.png) -10px -90px;
}
@keyframes anim_zoom{
    0%{
        transform: translateX(58px) translateY(-103px) rotate(45deg);
        border-radius: 15;
    }
    50%{
        border-radius: 30px;
    }
    100%{
        border-radius: 15;
        transform: translateX(48px) translateY(-103px) rotate(45deg);
    }
}
@keyframes anim_hillel{
    0%{
        transform: translateX(104px) translateY(6px) rotate(45deg);
        border-radius: 15;
    }
    50%{
        border-radius: 40px;
    }
    100%{
        border-radius: 15;
        transform: translateX(104px) translateY(16px) rotate(45deg);
    }
} 
@keyframes anim_twitter{
    0%{
        transform: translateX(104px) translateY(-23px) rotate(45deg);
        border-radius: 15;
    }
    50%{
        border-radius: 40px;
    }
    100%{
        border-radius: 15;
        transform: translateX(104px) translateY(-33px) rotate(45deg);
    }
}
@keyframes anim_youtube{
    0%{
        transform: translateX(150px) translateY(86px) rotate(45deg);
        border-radius: 15;
    }
    50%{
        border-radius: 40px;
    }
    100%{
        border-radius: 15;
        transform: translateX(160px) translateY(86px) rotate(45deg);
    }
}
@keyframes anim_hover_me{
    0%{
        color: rgba(255, 255, 255, 0.2);
        filter: blur(2px);
    }
    40%{
        color: white;
        filter: blur(0px);
    }
    100%{
        color: white;
        filter: blur(0px);
    }
}

/* D/Z 18. Gradient */
#home{
    position: relative;
}
#home::before{
    background: radial-gradient(farthest-corner at 120% 0%,  rgba(255, 255,255, 0) 71%, rgba(0, 0, 0, 0.6) 73%);
    left: 0;
    min-width: 55%;
    max-width: 100%;
    content: "";
    position: absolute;
    height: 50%;
    bottom: 0;
}
#home::after{
    content: "";
    background: radial-gradient(farthest-corner at -20% 0%, rgba(255, 255,255, 0) 71%, rgba(0, 0, 0, 0.6) 73%);
    right: 0;
    min-width: 55%;
    max-width: 100%;
    position: absolute;
    height: 50%;
    bottom: 0;
}

/* ДЗ 16. СSS малюнки */

/* Version 1 */                
.screw{
    font-size: 0;
}
.detail_screw{
   position: relative;
   width: 100px;
   height: 150px;
   margin: 30px 100px;
   display: inline-block;
   background: radial-gradient(circle, transparent 0, transparent 55%, black 55%, black 100% );
}
 .detail_screw::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    border-top: 75px solid transparent;
    border-right: 40px solid black;
    border-bottom: 75px solid transparent;
}
.detail_screw::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    border-top: 75px solid transparent;
    border-left: 40px solid black;
    border-bottom: 75px solid transparent;
}
/* Version 2 */
.detail_screw_v2{
    position: relative;
    width: 100px;
    height: 140px;
    margin: 30px 100px;
    display: inline-block;
    background: radial-gradient(circle, transparent 0, transparent 35%, rgb(24, 25, 44) 35%, rgb(24, 25, 44) 100% );
}
.detail_screw_v2::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    border-top: 70px solid transparent;
    border-right: 35px solid rgb(24, 25, 44);
    border-bottom: 70px solid transparent;
}
.detail_screw_v2::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    border-top: 70px solid transparent;
    border-left: 35px solid rgb(24, 25, 44);
    border-bottom: 70px solid transparent;
}    
.bolt{
    position: relative;
    height: 30px;
    width: 100px;
    background: repeating-linear-gradient(-70deg, black 0,black 3px, rgb(71, 71, 71) 4px, rgb(71, 71, 71) 11px);
    margin: 50px 150px;
}
.bolt::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 40px;
    background: rgb(90, 90,90);
    right: 100%;
    top: -30px;
    border-radius: 30px 0 0 4px / 35px 0 0 4px ;
}
.detail_bolt::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 9px;
    background: rgb(90, 90, 90);
    right: 100%;
    top: 14px;
    transform: translate(0, -50%);
}
.bolt::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 40px;
    background: rgb(90, 90, 90);
    right:100%;
    top: 18px;
    border-radius: 4px 0 0 30px / 4px 0 0 35px;
}
.key{ 
    position: relative;
    margin: 100px 200px;
    left: 0;
    top: 0;
    width: 150px;
    border-top: 20px solid rgb(35, 27, 30);
    border-bottom: 20px solid rgb(35, 27, 30);
    border-right: 20px solid transparent;
}
.key::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 100%;
    top: -20px;
    border: 10px solid rgb(35, 27, 30);
    border-radius: 50%;
}
.key::before{
    content: "";
    position: absolute;
    height: 38px;
    width: 38px;
    right: 96%;
    bottom: -37px;
    border-left: 20px solid transparent;
    border-top: 20px solid rgb(35, 27, 30);
    border-right: 20px solid rgb(35, 27, 30);
    border-bottom: 20px solid transparent;
    border-radius: 50%;
    transform: skew(-45deg, 45deg);
}
.detail_key::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 52px;
    left: -83px;
    top: 25px;
    background: rgb(35, 27, 30);
    border-radius: 0 0 0 65px / 0 0 0 35px;
}
.detail_key::after{
    content: "";
    position: absolute;
    height: 28px;
    width: 52px;
    left: -84px;
    top: -57px;
    background: rgb(35, 27, 30);
    border-radius:  65px 0 0 / 35px 0 0;
}
.key span{
    position: absolute;
    top: -8px;
    left: 38px;
    color: #817e7e;
    transform: rotate(-90deg);
}
.ship{
    position: relative;
    margin: 500px auto 100px;
    height: 120px;
    width: 700px;
    background: rgb(72, 47, 12);
    border-radius: 0 0 120px 0  / 0 0 60px 0;
    border-bottom: 20px solid black;
}
.ship::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 85px solid rgb(72, 47, 12);
    border-bottom: 105px solid transparent;
    bottom: 0;
    right: 100%;
}
.ship::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 110px;
    left: 94%;
    bottom: 53px;
    background: rgb(72, 47, 12);
    transform: rotate(45deg);
}
.detail_ship{
    position: absolute;
    width: 20px;
    height: 400px;
    bottom: 100%;
    left: 50%;
    background: rgb(72, 47, 12);
    transform: translate(-50%);
    border-radius: 8px 8px 0 0 / 8px 8px 0 0;
}
.detail_ship::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 100%;
    width: 70px;
    height: 0;
    border-top: 30px solid red;
    border-right: 20px solid transparent;
    border-bottom: 30px solid red;
}
.detail_ship::after{
    content: "";
    position: absolute;
    width: 196px;
    height: 396px;
    border-left: 120px solid rgb(9, 194, 240); 
    transform: translate(-50%);
    border-radius: 50%;
}
.detail_ship_part2{
    position: relative;
    width: 430px;
    height: 440px;
    overflow: hidden;
    bottom: 390px;
    left: -7px;
    transform: rotate(-45deg);
}
.detail_ship_part2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 210px 220px 0 0 rgb(0, 200, 255);
}
.detail_ship_part3{
   content: "";
    position: absolute;
    margin: 0 500px 0 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 25px;
    left: 75px;
    background: white;
    box-shadow: 100px 0 white, 200px 0 white, 300px 0 white, 400px 0 white, 500px 0 white;
}

/* ДЗ 17. Робота з формами */

*{
    scrollbar-color: black white;   /* работает в mozila */
	scrollbar-width: thin;             
}  
#test::-webkit-scrollbar{ /* сам scrollbar работает в: chrome opera edge*/
    width: 25px;
}
#test::-webkit-scrollbar-button{  /* цвет фона кнопок работает в: chrome opera edge*/
    background: linear-gradient(aqua, yellow, magenta);
}
#test::-webkit-scrollbar-track{  /* указатель прокрутки с помощью мишы (не видел) ползунков работает в: chrome opera edge*/
    background: #ccc;
}
#test::-webkit-scrollbar-track-piece{  /* цвет фона обоих ползунков работает в: chrome opera edge*/
    background: rgb(14, 26, 81);
}
#test::-webkit-scrollbar-thumb{  /* цвет обоих ползунков работает в: chrome opera edge*/
    background: linear-gradient(aqua, yellow, magenta);
    border-radius: 15px;
}
#test::-webkit-scrollbar-corner{  /* квадратик внизу справа работает в: chrome opera edge*/
    background: black; 
}
#test::-webkit-resizer{            /*кнопка масштабирования textarea работает в: chrome opera edge*/
    background: #ccc;
} 
textarea{
    display: block;
    width: 300px;
    height: 100px;
    resize: none;
    padding: 20px;
    margin: 20px 0;
}
.forms{
    height: 150vh;  /* написано для проверки scroll-bar */
}
textarea::-webkit-scrollbar{ 
    width: 5px;
}
textarea::-webkit-scrollbar-button{ 
    background: black;
    height: 0;
}
textarea::-webkit-scrollbar-track-piece{  
    background: lightgrey;
}
textarea::-webkit-scrollbar-thumb{ 
    background: black;
    border-radius: 10px;
}
textarea::-webkit-resizer{ 
    background: #a1a1a1;
} 
::placeholder{
    color: green;    /* работает в chrome opera edge mozila */
    font-weight: 900;
    opacity: 1;       /*   специально для mozila */
}
/* работает без префиксов, потдержка почти 96.5% но на всякий случай добавлю */
::-ms-input-placeholder{
    color: green;
} 
:-ms-input-placeholder{
    color: green;
}

::-webkit-input-placeholder{
    opacity: 1; 
    transition: opacity 3s ease;
}
:focus::-webkit-input-placeholder{
    opacity: 0;
}
::-moz-input-placeholder{
    opacity: 1;
    transition: opacity 3s ease;
}
:focus::-moz-input-placeholder{
    opacity: 0;
}
:-moz-input-placeholder{
    opacity: 1;
    transition: opacity 3s ease;
}
:focus:-moz-input-placeholder{
    opacity: 0;
}    
:-ms-input-placeholder{
    opacity: 1;
    transition: opacity 3s ease;
}
:focus:-ms-input-placeholder{
    opacity: 0;
}
.select_choice{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding: 0.5em 2.5em 0.5em 0.5em;
    cursor: pointer;
    background: #700;
    border: none;
    color: white; 
}
.select_choice::-ms-expand{
    display: none;
}
.parent_select{
    position: relative;
    margin: 20px 0;
}
.parent_select::after{
    content: "\1F440";
    position: absolute;
    left: 72px;
    pointer-events: none;
    transform: scale(1.3);
    padding-top: 1px;
}
::-webkit-inner-spin-button {
    opacity: 0; 
    cursor: pointer;
}
.wrapper_input_number{
    position: relative;
}
.wrapper_input_number::before{
    content: "\02D6";               
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(2) translateX(80px) translateY(1px);
    pointer-events: none;
}
.wrapper_input_number::after{
    content: "\002D";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(2) translateX(80px) translateY(-5px);
    pointer-events: none;
}
input[type="number"]{
    height: 25px;
    padding: 5px 0;
    min-width: 170px;
}
