html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* мои стили */

* {
    margin: 0;
    padding: 0;
}
html, body{
    scroll-behavior: smooth;
}
body {
    background: gray;
}
.cont_ol{
    margin: 0 auto;
    width: 1200px;
    background: grey;
}
.textmain.textpages2{
    text-align: justify;
}
.box_top{
    display: block;
    background: black;
    color: white;
    height: 118px;
    /* height: auto; */
}
h2{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}
.indent{
    padding-bottom: 10px;
}
h1{
    padding: 10px 0;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

h3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.list{
    margin: 0 0 0 15px;
    text-align: left;
    list-style-type: circle;
    font-style: italic;
}

.down{
    height: 160px;
    background: black;
    color: white;
}

.footerlink:hover{
    text-decoration: none;
}

a{
    line-height: 25px;
    color: white;
}

.footerP{
    text-align: center;
}
.moveon:hover{
    color: blue;
}

/* Про електронні сигарети */

#firstimg{
    margin: 10px 0 0 0;
    border-radius: 50px; 
}
#pictures{
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    background: black;
    width: 130px;
    height: 50px;
    text-decoration: none;
    margin: 0 auto 10px;
}
.button:hover{
    background: white;
    color: black;
}

.photo{
    text-align: center;
}

/* dz_6 table-cell*/

.outl{
    outline: 2px solid black;
}
.w_800{
    width: 800px;
    outline: 2px solid black;
}
.w_400{
    width: 400px;
    outline: 2px solid black;
}
.d_t_c{
    display: table-cell;
}
.topcolor{
    background: green;
}
.cont{
    background: purple;
}
.info{
    background: gold;
}
.col{
    background: yellowgreen;
}
.distance{
    margin-top: 10px;
}

/* inline-block */

.d_i_b{
    display: inline-block;
}
.content_i_b{
    font-size: 0;
}
.i_b_fs{
    font-size: 18px;
}

/* float */

.f_r{
    float: right;
}
.f_l{
    float: left;
}
.cle{
    clear: both;
}
.back{
    padding: 30px 0 0 0 ;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

/* display-flex */

.disp_fl_col{
    background: lightcoral;
}
.disp_fl{
    display: flex;
}
.fl_800{
    flex: 0 1 800px;
}
.fl_400{
    flex: 0 1 400px;
}

/* grid-template-columns */

.ds_grid{
    display: grid;
}
.block1{
    grid-template-columns: repeat(3, 400px);
}
/* .ds_grid_b1{
    grid-template-rows: repeat(3, 1fr);
} */
/* .ds_grid_b2{
    grid-template-rows: repeat(2, 1fr);
} */
.block2,.block4{
    grid-template-columns: 800px 400px;
}
.block3{
    grid-template-columns: 400px 800px;
}
.ds_grid_b3,.ds_grid_b5{
    grid-template-columns: repeat(2, 400px);
}
.bckd{
    background: cornflowerblue;
}
/* grid-template-areas */

.grid_box_top{
    width: 1200px;
    margin: 0 auto;
}
.grid_container{
    display: grid;
    grid-template-areas: 
    "a b c"
    "d d e"
    "f f e"
    "f f g"
    "h h g"
    "i j j"
    "i k l"
    "m m n"
    "o q n"
    "p q n";
}
.grid_a{
    background: red;
    grid-area: a;
}
.grid_b{
    background: pink;
    grid-area: b;
}
.grid_c{
    background: olive;
    grid-area: c;
}
.grid_d{
    background: hotpink;
    grid-area: d;
}
.grid_f{
    background: greenyellow;
    grid-area: f;
}      
.grid_h{
    background: gold;
    grid-area: h;
}
.grid_e{
    background: green;
    grid-area: e;
}
.grid_g{
    background: goldenrod;
    grid-area: g;
}
.grid_i{
    background: lightgreen;
    grid-area: i;
} 
.grid_j{
    background: lightcoral;
    grid-area: j;
}    
.grid_k{
    background: lavender;
    grid-area: k;
}    
.grid_l{
    background: maroon;
    grid-area: l;
}
.grid_m{
    background: mediumaquamarine;
    grid-area: m;
}   
.grid_n{
    background: white;
    grid-area: n;
}   
.grid_o{
    background: blueviolet;
    grid-area: o;
}
.grid_p{
    background: aqua;
    grid-area: p;
}   
.grid_q{
    background: lawngreen;
    grid-area: q;
}                                  

/* ДЗ 10.Навігація по фотогалереї  */
.navigation{
    padding: 10px;
    position: fixed;
    left: 0;
    top: 50%; 
    margin-top: -175px;
    width: 200px;
    box-shadow: 10px 10px 20px black;
}
.link_nav{
    border-bottom: 1px solid black;
}
.link_n{
    text-decoration: none;
    color: black;
}
.link_n:hover{
    color: white;
}

/* ДЗ 10. Фотогалерея. */
.picture {
    position: relative;
    margin: 0 auto;
} 
.picture:hover .text {
    opacity: 1;
}
.text {
    opacity:0;
    position:absolute;
    top: 50%;
    margin-top: -19px;
    width: 100%;
    background-color: white;
    padding:10px 0px;
    outline: 1px solid red;
    text-align: center;
}   
.art1, .art4 {
    max-width: 1200px;
}
.art2 {
    max-width: 717px;
}
.art3 {
    max-width: 829px;
}
.art5 {
    max-width: 691px; 
}
.art6 {
    max-width: 860px; 
}
.art7 {
    max-width: 1188px;
}

/* ДЗ 11. Багаторівневе меню */
.menu_top{
    font-size: 0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.menu_top li{
    display: inline-block;
    font-size: 20px;
    border-left: 1px solid white;
    background: black;
}
.menu_top a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
}
.menu_top a:hover,.parent:hover{
    background: grey;
}
.menu_top li:first-child{
    border: none;
}
.parent{
    position: relative;
    z-index: 5;
}
.parent:hover ul.second_menu{
    display: block;
}
.second_menu{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.second_menu li{
    border: none;
    border-top: 1px solid white;
    display: block;
}
.menu_float{
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
}
.menu_grid{
    position: absolute;
    right: 100%;
    bottom: 0;
    display: none;
}
.parent_grid:hover ul.menu_grid{
    display: block;
}
.parent_float:hover ul.menu_float{
    display: block;
}
.active a{
    background: gray;
}